<div class="countdown-boxes">
    <div class="time-box">
        <span class="number">76</span>
        <span class="label">DAYS</span>
    </div>
    <div class="time-box">
        <span class="number">05</span>
        <span class="label">HOURS</span>
    </div>
    <div class="time-box">
        <span class="number">30</span>
        <span class="label">MINUTES</span>
    </div>
    <div class="time-box">
        <span class="number">30</span>
        <span class="label">SECONDS</span>
    </div>
</div>